:root {
  --main-color: #ef3d2b;
  --secondry-color: #fb7031;
  --black-color: #121212;
  --white-color: #fafafa;
  --grey-1-color: rgb(53, 50, 50);
  --grey-2-color: #1e1e24;
  --main-box-shadow-1: 0px 8px 19px 0px rgba(28, 13, 13, 0.75);
  --main-transition: all 0.4s ease-in-out;
}
/* posts container and post card design  */

.posts-container {
  display: flex;
  gap: 20px 40px;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
.post-card {
  width: 300px;
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
}
.post-card:hover {
  transform: scale(1.01);
}
.post-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
}
.post-content {
  padding: 10px;
  text-align: center;
  overflow: hidden;
}
.post-header {
  font-size: 20px;
  margin: 5px 0;
  color: var(--black-color);
  font-weight: 700;
}
.post-info {
  text-align: center;
  color: var(--black-color);
  opacity: 0.8;
  min-height: 30px;
  overflow: hidden;
}
.post-btn {
  background-color: var(--secondry-color);
  padding: 5px 14px;
  color: #fff;
  margin-top: 5px;
  display: inline-block;
  border-radius: 10px;
}
.post-btn:hover {
  transform: translateX(5px);
}
/* posts container and post card design  */
